*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(123, 230, 123);
}


.cabecalho{
    width: 100%;
    height: 200px;
    background-color: black;
    font-size: 30px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-links a{
    text-decoration: none;
    font-family: Helvetica;
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
}

.menu-links a:hover{
    color: rgb(31, 201, 31);
    transition: 1.5s;
    transform: uppercase;
}

.menu-links ul{
    display: flex;
    justify-content: center;

}

.menu-links li{
    display: flex;
    margin: 45px 30px;

}

.conteudo-pagina1{
    width: 50%;
    height: 550px;
    margin: 30px 30px;
    border-radius: 10px;
    background-color: white;

}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px;
    padding: 10px;
}

.descricao{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 30px;
    padding: 10px;
}

.lista-tecnologias{
    list-style: none;
    margin: 0px 40px;
}

.imagem-projeto{
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px rgb(31, 201, 31);
}

.enfeitar-link{
    width: 100%;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    background-color: rgba(68, 206, 68, 0.884);
}

.link-projeto{
    color:black;
    margin-top: 20px;
    text-decoration: none;
    background-color: rgba(68, 206, 68, 0.884);
}